.profile {
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
}

.profile h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile p {
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1em;
}